@import '~antd/dist/antd.dark.css';

.App {
  text-align: center;

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.header-color{
  background-color: #212f45;
}
.brand {
  color: #fff;
  font-size: 1em;
  font-weight: bold;
  text-transform: uppercase;
}

.title {
  font-size: 1.5em;
}

.subtitle {
  font-size: 1.2em;
}

.App-header {
  background-color: #181b26;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
@media (min-width: 992px) {
  .navbar-expand-lg .navbar-collapse {
    display: flex !important;
    flex-basis: auto;
    justify-content: flex-end;
  }
}



