body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.popups {
  overflow-y: scroll;
  overflow-x: scroll;
  max-width: 200px;
  max-height: 400px;
  font: 12px/20px 'Open Sans', sans-serif;
  border-radius: 9px;
  text-align: center;
}

.mapContainer {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 98;
}

.statsContainer {
  justify-content: space-between;
  align-Content: right;
  flex-flow: column wrap;
  position: absolute;
  display: flex;
  margin:auto;
  top: 120px;
  right: 30px;
  z-index: 99;
  text-align: left;
}

.statsCard{
  margin-bottom: 10px; 
  position: relative;
  text-align: left;
  display: flex;
}

.custom-tooltip {
  background-color: rgb(18, 27, 38,0.7);
  padding-top: 5px;
  padding-bottom: 2px;
  padding-left: 20px;
  padding-right: 20px;
}

.sourcesContainer {
  position: fixed;
  top: 10%;
  right: 50%;
  left: 30%;
  width: 60%;

  text-align: left;
}

.disclaimer {
  font-size: 10px;
  font-style: italic;
}

#overlay-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

#overlay-content-box {
  width: 80%;
  height: 50%;
  position: fixed;
  left: 10%;
  top: 25%;
  overflow-y: scroll;
}
