.toggle-button > .a:active {
  align-items: right;
  color:white;
}

.div-only-mobile{
  visibility:hidden;
  }

@media screen and (max-width : 906px){
    .div-only-mobile{
     visibility:visible;
     color: white;
     text-transform: uppercase;
     font-size: 0.75rem;
     padding-top: 0.75rem;
     padding-bottom: 0.75rem;
     }
}